@using ShopAdmin.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

<PageTitle>ShopAdmin</PageTitle>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 bg-light">
                <AuthorizeView>
                    <Authorized>
                        <a @onclick="Logout">Logout</a>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/login  ">Login</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
            
        </div>
    </div>
</section>

<section>
    <div class="container-fluid min-vh-100">
        <div class="row">
            <CascadingValue Value="@ApplicationState">
                @Body
            </CascadingValue>
        </div>
    </div>
</section>



@code 
{
    private async Task Logout()
    {
        var customÄuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customÄuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/",true);
    }
    public Appstate ApplicationState { get; set; }
}