

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">

    <nav class="flex-column">

        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">Shop Admin</a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <AuthorizeView Roles="administrator">
            <Authorized>
                <div class="nav-item px-3 mt-3">
                    <NavLink class="nav-link" href="profile">
                        <span class="oi oi-plus" aria-hidden="true"></span> Profile
                    </NavLink>
                    <NavLink class="nav-link" href="ownershops">
                        <span class="oi oi-plus" aria-hidden="true"></span> My Shops
                    </NavLink>
                   
                
                    
                
                    
                </div>
           
                
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="ShopOwner">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="getEmployeeShop">
                        <span class="oi oi-plus" aria-hidden="true"></span> Shop Owner
                    </NavLink>
                </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="dailysale">
                            <span class="oi oi-plus" aria-hidden="true"></span> Daily Sale
                        </NavLink>
                    </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="monthlysales">
                        <span class="oi oi-plus" aria-hidden="true"></span> Montlhy sales
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/yearlysalesgraph">
                        <span class="oi oi-plus" aria-hidden="true"></span>Sales's Graph
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/employeework">
                        <span class="oi oi-plus" aria-hidden="true"></span> Employee Work
                    </NavLink>
                </div>
                

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="employeeworkbydate">
                        <span class="oi oi-plus" aria-hidden="true"></span> Work By Date
                    </NavLink>
                </div> 
                
            </Authorized>
        </AuthorizeView>
       

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
