@page "/"

<Login></Login>

@*
<AuthorizeView Context="authorizationContext" Roles="ShopAdmin,administrator">
    <Authorized>
        <Dailysales></Dailysales>

    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to access this page.</p>
    </NotAuthorized>
</AuthorizeView>*@

